/*Link fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&display=swap');

/* Estilos gerais */
* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}

/* Container do cabeçalho de navegação */
.navbar {
  z-index: 101;
  padding: 1% 3% 0 3%;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(192, 203, 2, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0.3em;
  border-bottom: 3px solid #c0cb02;
  box-shadow: rgba(0, 0, 0, 0.1);
}

/* Estilizando a logotipo do menu */
.navbar-brand img {
  width: 200px;
  height: auto;
  margin-bottom: 15%;
  filter: drop-shadow(0 0 10px rgba(192, 203, 2, 0.6)) drop-shadow(0 0 20px rgba(192, 203, 2, 0.6)) drop-shadow(0 0 100px rgba(192, 203, 2, 0.6));
  transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
}

/* Efeito do hover na imagem */
.navbar-brand img:hover {
  border: 1px #fff4c2;
  filter: drop-shadow(0 0 10px rgba(192, 203, 2, 0.6)) drop-shadow(0 0 20px rgba(192, 203, 2, 0.6)) drop-shadow(0 0 100px rgba(192, 203, 2, 0.6));
  transform: scale(1.1) translateY(-0.1px);
}

/* Estilo do Header */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* Estilizando cada item do menu no menu hambúrguer */
.navbar-nav li {
  display: block; /* Para que cada item fique em uma linha separada */
  margin-bottom: 10px; /* Espaçamento entre os itens */
}

/* Estilizando os links dos itens do menu */
.navbar-nav li a {
  font-size: 1.3vw;
  list-style: none; /* Remover o marcador de lista padrão */
  margin: 0 20px 0 10px;
  color: #335230;
  border-radius: 0.3em;
  padding: 6px 15px;
  font-weight: bold;
  text-align: center;
  transition: color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(255, 67, 33, 0);
}

/* Estilizando o hover nos links dos itens do menu */
.navbar-nav li a:not(.active):hover {
  background-color: #fff4c2;
  color: #335230;
  box-shadow: 0 0 10px rgba(192, 203, 2, 0.6), 0 0 20px rgba(192, 203, 2, 0.6), 0 0 100px rgba(192, 203, 2, 0.6);
  transform: scale(1.05) translateY(-5px);
}

/* Cor da guia ativa */
.navbar .navbar-nav li a.active {
  background-color: #fff4c2;
  color: #335230;
  box-shadow: 0 0 10px rgba(192, 203, 2, 0.6), 0 0 20px rgba(192, 203, 2, 0.6), 0 0 100px rgba(192, 203, 2, 0.6);
}

/* Ícones dos nav-links */
.nav-item .fa-solid {
  margin-right: 5px;
  font-size: 100%;
}

/* --------------------------------------------------- Menu Hambúrguer ------------------------------------------------ */

/* Ícone do menu hambúrguer */
.navbar-toggler .fa-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  color: #335230;
  padding-top: 2px;
}

/* Borda do menu hambúrguer */
.navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: #335230;
  border-width: 0.5vw;
  width: 9vw;
}

/* Define a altura da barra de navegação */
:root {
  --navbar-height: 80px; /* Defina a altura da barra de navegação aqui */
}

/* ------------------------------------------------------ Home -------------------------------------------------------- */
/* Tamanho e cor da área do conteúdo da página */
.home {
  position: relative;
  width: 100%;
  background-color: #fff4c2;
}

/* Esconder Menu de Login/Cadastro */
.home::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

/* Mostrar Menu de Login/Cadastro */
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}

/* ---------------------------------------Formulário de login e cadastro----------------------------------------------- */
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background-color: rgba(192, 203, 2, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px);
  padding: 25px;
  border-radius: 0.3em;
  border: 3px solid #c0cb02;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
  overflow: auto;
}

/* Abre o formulário de login */
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

/* Oculta o formulário de inscrição por padrão */
.signup_form {
  display: none;
}

/* Exibe o formulário de inscrição quando o elemento form_container tem a classe active */
.form_container.active .signup_form {
  display: block;
}

/* Oculta o formulário de login quando o elemento form_container tem a classe active */
.form_container.active .login_form {
  display: none;
}

/* Estilo do ícone "Fechar" */
.form_close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff4c2;
  font-size: 20px;
  opacity: 0.7;
  cursor: pointer;
}

/* Título do formulário */
.form_container h2 {
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 150%;
  color: #fff4c2;
  text-align: center;
}

/* -------------------------------------------------- Caixa de Texto -------------------------------------------------- */
/* Tamanho do container da caixa de texto */
.input_box {
  border-color: #fff4c2;
  outline-color: #ff531e;
  border: 2px solid rgba(192, 203, 2);
  box-shadow: rgba(192, 203, 2, 0.5) 0 -25px 18px -14px inset, rgba(192, 203, 2, 0.25) 0 1px 2px, rgba(192, 203, 2, 0.25) 0 2px 4px,
    rgba(192, 203, 2, 0.25) 0 4px 8px, rgba(192, 203, 2, 0.25) 0 8px 16px, rgba(192, 203, 2, 0.25) 0 16px 32px;
  border: none;
  outline: none;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
  border: 2px solid rgba(192, 203, 2);
  background-color: transparent;
  color: #fff4c2;
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

/* Tamanho da caixa de texto */
.input_box input {
  font-weight: bold;
  color: #fff4c2;
  background-color: transparent;
  height: 80%;
  width: 100%;
  padding: 0 30px;
  transition: all 0.2s ease;
  box-shadow: rgba(192, 203, 2, 0.5) 0 -25px 18px -14px inset, rgba(192, 203, 2, 0.25) 0 1px 2px, rgba(192, 203, 2, 0.25) 0 2px 4px,
    rgba(192, 203, 2, 0.25) 0 4px 8px, rgba(192, 203, 2, 0.25) 0 8px 16px, rgba(192, 203, 2, 0.25) 0 16px 32px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

/* Posiciona os ícones dentro da caixa de texto e define suas propriedades de estilo */
.input_box i {
  padding: 0 2% 0 2%;
  position: absolute;
  top: 35%;
  transform: translateY(-20%);
  font-size: 20px;
  color: #fff4c2;
}

/* Define a posição e o tamanho dos ícones de e-mail e senha */
.input_box i.email,
.input_box i.password {
  left: 0;
  font-size: 15px;
}

/* Define a posição e o tamanho do ícone de ocultar e mostrar a senha */
.input_box i.pw_hide {
  right: 0;
  font-size: 15px;
  cursor: pointer;
}

/* Remove o botão para visualizar e ocultar a senha */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Estilo do placeholder */
.input_box input::placeholder {
  color: #fff4c2;
}

/* Define a posição e o tamanho do campo de opções */
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Define a cor e tamanho do texto no campo de opções */
.form_container a {
  color: #fff4c2;
  font-size: 1vw;
  text-decoration: none;
  font-weight: bold;
  transition: text-shadow 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

/* Define o estilo do hover no campo de opções */
.form_container a:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(255, 83, 30, 1), 0 0 20px rgba(255, 83, 30, 1), 0 0 100px rgba(255, 83, 30, 1);
}

/* Define o estilo da caixa de seleção */
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}

.checkbox input:hover {
  box-shadow: 0 0 10px rgba(255, 83, 30, 1);
}

/* ------------------------------------------------- Caixa de Seleção ------------------------------------------------- */
/* Define a cor da caixa de seleção ativa */
.checkbox input {
  accent-color: #fff4c2;
}

/* Define o tamanho e a a cor do texto na caixa de seleção */
.checkbox label {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  color: #fff4c2;
  transition: text-shadow 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

/* Define a cor do hover no texto da caixa de seleção */
.checkbox label:hover {
  text-shadow: 0 0 10px rgba(255, 83, 30, 1), 0 0 20px rgba(255, 83, 30, 1), 0 0 100px rgba(255, 83, 30, 1);
  text-decoration: underline;
}

/* -------------------------------------------- Botão de Login e Cadastro --------------------------------------------- */
/* Cor e tamanho do botão de login e cadastro */
.form_container .sgn_button,
.lgn_button {
  background-color: rgba(192, 203, 2, 0.3);
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0.3em;
  color: #fff4c2;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s, transform 0.3s ease, text-shadow 0.2s ease-in-out;
}

.form_container .sgn_button:hover,
.lgn_button:hover {
  text-shadow: 0 0 10px rgba(255, 83, 30, 1), 0 0 20px rgba(255, 83, 30, 1), 0 0 100px rgba(255, 83, 30, 1);
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0.3em;
  background-color: rgba(192, 203, 2, 0.3);
  border: 2px solid #c0cb02;
  color: #335230;
  box-shadow: 0 0 25px 2px rgba(192, 203, 2, 0.4), 0 0 35px 4px rgba(192, 203, 2, 0.5), 0 0 45px 6px rgba(192, 203, 2);
  transform: scale(1.05) translateY(-5px);
  color: #fff4c2;
  cursor: pointer;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Efeito de clique do botão de login e cadastro */
.form_container .sgn_button:active,
.lgn_button:active {
  text-shadow: none;
  background-color: rgba(51, 82, 48, 0.3);
  color: #fff4c2;
  box-shadow: #000000 0 3px 7px inset;
  transform: translateY(2px);
}

/* Estilo do texto "Não possui uma conta?" */
.login_signup {
  font-weight: bold;
  color: #fff4c2;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

/* ----------------------------------------------- Formulário de contato ---------------------------------------------- */
/* Estilo do formulário */
.cont_container {
  background-color: rgba(192, 203, 2, 0.3);
  position: relative;
  margin: 35% 0 -5% 0;
  width: 50%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  padding: 25px;
  border: 5px solid #c0cb02;
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px);
  transition: all 0.4s ease-out;
  overflow: auto;
}

/* Título do formulário */
.cont_container h2 {
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 150%;
  color: #212529;
  text-align: center;
  padding-bottom: 20px;
}

/* Tamanho do container da caixa de texto */
.cont_input_box {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 40px;
}

/* Tamanho da caixa de texto */
.cont_input_box input {
  background-color: transparent;
  font-weight: bolder;
  color: #212529;
  margin-top: 5px;
  height: 80%;
  width: 100%;
  border-color: #fff4c2;
  outline-color: #ff531e;
  padding: 0 30px;
  transition: all 0.2s ease;
  border: 2px solid rgba(192, 203, 2);
  box-shadow: rgba(192, 203, 2, 0.5) 0 -25px 18px -14px inset, rgba(192, 203, 2, 0.25) 0 1px 2px, rgba(192, 203, 2, 0.25) 0 2px 4px,
    rgba(192, 203, 2, 0.25) 0 4px 8px, rgba(192, 203, 2, 0.25) 0 8px 16px, rgba(192, 203, 2, 0.25) 0 16px 32px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
  border: 2px solid rgba(192, 203, 2);
}

/* Estilo do placeholder */
.cont_input_box input::placeholder {
  color: #212529; /* Altere a cor para a cor desejada */
}

/* ------------------------------------------------- Botão "enviar" --------------------------------------------------- */
/* Cor e tamanho do botão */
.cont_button {
  background-color: rgba(192, 203, 2, 0.3);
  margin: 30px 0 30px 0;
  width: 100%;
  padding: 10px 0;
  border-radius: 0.3em;
  color: #212529;
  transition: background-color 0.5s ease-in-out, color 0.3s ease-in-out, border-color 0.5s ease-in-out, transform 0.3s ease-in-out;
  font-weight: bold;
  border: 2px solid transparent;
  /* Ajuste a largura e altura do botão para compensar o tamanho da borda */
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}

.cont_button:hover {
  border-radius: 0.3em;
  background-color: rgba(192, 203, 2, 0.3);
  border: 2px solid #c0cb02;
  box-shadow: 0 0 25px 2px rgba(192, 203, 2, 0.4), 0 0 35px 4px rgba(192, 203, 2, 0.5), 0 0 45px 6px rgba(192, 203, 2);
  transform: scale(1.05);
  color: #212529;
  cursor: pointer;
  text-shadow: 0 0 10px rgba(255, 83, 30, 1), 0 0 20px rgba(255, 83, 30, 1), 0 0 100px rgba(255, 83, 30, 1);
  transition: background-color 0.2s ease-in-out, color 0.3s ease-in-out, border-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  overflow: hidden;
}

/* Efeito de clique do botão */
.cont_button:active {
  text-shadow: none;
  background-color: rgba(51, 82, 48, 0.3);
  color: #212529;
  box-shadow: #000000 0 3px 7px inset;
  transform: translateY(2px);
}

/* --------------------------------------------- Estilo do Rodapé (Footer) -------------------------------------------- */
/* Propriedades */
footer {
  background-color: rgba(192, 203, 2, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px);
  padding: 25px;
  border-radius: 0.3em;
  border-top: 3px solid #c0cb02;
  box-shadow: rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  font-size: 1.4vw;
  font-weight: bold;
  color: #335230;
  text-align: center;
  width: 100%;
  z-index: 1; /* Coloca o rodapé na frente de outros elementos */
}

/* Estilo do parágrafo */
footer p {
  margin: 0;
}

/* Estilo do Link */
footer a {
  color: #335230;
  text-decoration: none;
  transition: text-shadow 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}
/* Estilo do Link */
footer a:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(255, 83, 30, 1), 0 0 20px rgba(255, 83, 30, 1), 0 0 100px rgba(255, 83, 30, 1);
}

/* ------------------------------------------- Responsividade navbar e footer ----------------------------------------- */
/* Media query para telas menores */
@media (min-width: 1px) and (max-width: 1200px)  {
  /* Estilizando os links dos itens do menu */
  .navbar-nav li a {
    font-size: 1.2vw;
    margin: 0 10px 0 5px;
    padding: 6px 15px;
  }
  .cont_container {
    margin-top: 450px;
  }
  footer p {
    font-size: 100%;
  }
  footer a {
    font-size: 100%;
  }
}