/*Link fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&display=swap');

/* Estilos gerais */
* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}

/* Container do cabeçalho de navegação */
.navbar {
  z-index: 2;
  padding: 1% 3% 0 3%;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(192, 203, 2, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 0.3em;
  border-bottom: 3px solid #c0cb02;
  box-shadow: rgba(0, 0, 0, 0.1);
}

/* Estilizando a logotipo do menu */
.navbar-brand img {
  width: 200px;
  height: auto;
  margin-bottom: 15%;
  filter: drop-shadow(0 0 10px rgba(192, 203, 2, 0.6)) drop-shadow(0 0 20px rgba(192, 203, 2, 0.6)) drop-shadow(0 0 100px rgba(192, 203, 2, 0.6));
  transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
}

/* Efeito do hover na imagem */
.navbar-brand img:hover {
  border: 1px #fff4c2;
  filter: drop-shadow(0 0 10px rgba(192, 203, 2, 0.6)) drop-shadow(0 0 20px rgba(192, 203, 2, 0.6)) drop-shadow(0 0 100px rgba(192, 203, 2, 0.6));
  transform: scale(1.1) translateY(-0.1px);
}

/* Estilo do Header */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* Estilizando cada item do menu no menu hambúrguer */
.navbar-nav li {
  display: block; /* Para que cada item fique em uma linha separada */
  margin-bottom: 10px; /* Espaçamento entre os itens */
}

/* Estilizando os links dos itens do menu */
.navbar-nav li a {
  font-size: 1.3vw;
  list-style: none; /* Remover o marcador de lista padrão */
  margin: 0 20px 0 10px;
  color: #335230;
  border-radius: 0.3em;
  padding: 6px 15px;
  font-weight: bold;
  text-align: center;
  transition: color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(255, 67, 33, 0);
}

/* Estilizando o hover nos links dos itens do menu */
.navbar-nav li a:not(.active):hover {
  background-color: #fff4c2;
  color: #335230;
  box-shadow: 0 0 10px rgba(192, 203, 2, 0.6), 0 0 20px rgba(192, 203, 2, 0.6), 0 0 100px rgba(192, 203, 2, 0.6);
  transform: scale(1.05) translateY(-5px);
}

/* Cor da guia ativa */
.navbar .navbar-nav li a.active {
  background-color: #fff4c2;
  color: #335230;
  box-shadow: 0 0 10px rgba(192, 203, 2, 0.6), 0 0 20px rgba(192, 203, 2, 0.6), 0 0 100px rgba(192, 203, 2, 0.6);
}

/* Ícones dos nav-links */
.nav-item .fa-solid {
  margin-right: 5px;
  font-size: 100%;
}

/* --------------------------------------------------- Menu Hambúrguer ------------------------------------------------ */

/* Ícone do menu hambúrguer */
.navbar-toggler .fa-bars {
  font-size: 4vw;
  border-color: #fff4c2;
  color: #fff4c2;
}

/* Borda do menu hambúrguer */
.navbar-toggler {
  border-color: #fff4c2;
  border-width: 0.5vw;
}

/* Define a altura da barra de navegação */
:root {
  --navbar-height: 80px; /* Defina a altura da barra de navegação aqui */
}

/* ------------------------------------------------------ Home -------------------------------------------------------- */
/* Tamanho e cor da área do conteúdo da página */
.home {
  position: relative;
  width: 100%;
  background-color: #fff4c2;
}

/* Esconder Menu de Login/Cadastro */
.home::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

/* Mostrar Menu de Login/Cadastro */
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}

/* ---------------------------------------Formulário de login e cadastro----------------------------------------------- */
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background-color: rgba(192, 203, 2, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px);
  padding: 25px;
  border-radius: 0.3em;
  border: 3px solid #c0cb02;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
  overflow: auto;
}

/* Abre o formulário de login */
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

/* Oculta o formulário de inscrição por padrão */
.signup_form {
  display: none;
}

/* Exibe o formulário de inscrição quando o elemento form_container tem a classe active */
.form_container.active .signup_form {
  display: block;
}

/* Oculta o formulário de login quando o elemento form_container tem a classe active */
.form_container.active .login_form {
  display: none;
}

/* Estilo do ícone "Fechar" */
.form_close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff4c2;
  font-size: 20px;
  opacity: 0.7;
  cursor: pointer;
}

/* Título do formulário */
.form_container h2 {
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 150%;
  color: #fff4c2;
  text-align: center;
}

/* -------------------------------------------------- Caixa de Texto -------------------------------------------------- */
/* Tamanho do container da caixa de texto */
.input_box {
  border-color: #fff4c2;
  outline-color: #ff531e;
  border: 2px solid rgba(192, 203, 2);
  box-shadow: rgba(192, 203, 2, 0.5) 0 -25px 18px -14px inset, rgba(192, 203, 2, 0.25) 0 1px 2px, rgba(192, 203, 2, 0.25) 0 2px 4px,
    rgba(192, 203, 2, 0.25) 0 4px 8px, rgba(192, 203, 2, 0.25) 0 8px 16px, rgba(192, 203, 2, 0.25) 0 16px 32px;
  border: none;
  outline: none;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
  border: 2px solid rgba(192, 203, 2);
  background-color: transparent;
  color: #fff4c2;
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

/* Tamanho da caixa de texto */
.input_box input {
  font-weight: bold;
  color: #fff4c2;
  background-color: transparent;
  height: 80%;
  width: 100%;
  padding: 0 30px;
  transition: all 0.2s ease;
  box-shadow: rgba(192, 203, 2, 0.5) 0 -25px 18px -14px inset, rgba(192, 203, 2, 0.25) 0 1px 2px, rgba(192, 203, 2, 0.25) 0 2px 4px,
    rgba(192, 203, 2, 0.25) 0 4px 8px, rgba(192, 203, 2, 0.25) 0 8px 16px, rgba(192, 203, 2, 0.25) 0 16px 32px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

/* Posiciona os ícones dentro da caixa de texto e define suas propriedades de estilo */
.input_box i {
  padding: 0 2% 0 2%;
  position: absolute;
  top: 35%;
  transform: translateY(-20%);
  font-size: 20px;
  color: #fff4c2;
}

/* Define a posição e o tamanho dos ícones de e-mail e senha */
.input_box i.email,
.input_box i.password {
  left: 0;
  font-size: 15px;
}

/* Define a posição e o tamanho do ícone de ocultar e mostrar a senha */
.input_box i.pw_hide {
  right: 0;
  font-size: 15px;
  cursor: pointer;
}

/* Remove o botão para visualizar e ocultar a senha */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Estilo do placeholder */
.input_box input::placeholder {
  color: #fff4c2;
}

/* Define a posição e o tamanho do campo de opções */
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Define a cor e tamanho do texto no campo de opções */
.form_container a {
  color: #fff4c2;
  font-size: 1vw;
  text-decoration: none;
  font-weight: bold;
  transition: text-shadow 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

/* Define o estilo do hover no campo de opções */
.form_container a:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(255, 83, 30, 1), 0 0 20px rgba(255, 83, 30, 1), 0 0 100px rgba(255, 83, 30, 1);
}

/* Define o estilo da caixa de seleção */
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}

.checkbox input:hover {
  box-shadow: 0 0 10px rgba(255, 83, 30, 1);
}

/* ------------------------------------------------- Caixa de Seleção ------------------------------------------------- */
/* Define a cor da caixa de seleção ativa */
.checkbox input {
  accent-color: #fff4c2;
}

/* Define o tamanho e a a cor do texto na caixa de seleção */
.checkbox label {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  color: #fff4c2;
  transition: text-shadow 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}

/* Define a cor do hover no texto da caixa de seleção */
.checkbox label:hover {
  text-shadow: 0 0 10px rgba(255, 83, 30, 1), 0 0 20px rgba(255, 83, 30, 1), 0 0 100px rgba(255, 83, 30, 1);
  text-decoration: underline;
}

/* -------------------------------------------- Botão de Login e Cadastro --------------------------------------------- */
/* Cor e tamanho do botão de login e cadastro */
.form_container .sgn_button,
.lgn_button {
  background-color: rgba(192, 203, 2, 0.3);
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0.3em;
  color: #fff4c2;
  transition: background-color 0.5s, color 0.5s, border-color 0.5s, transform 0.3s ease, text-shadow 0.2s ease-in-out;
}

.form_container .sgn_button:hover,
.lgn_button:hover {
  text-shadow: 0 0 10px rgba(255, 83, 30, 1), 0 0 20px rgba(255, 83, 30, 1), 0 0 100px rgba(255, 83, 30, 1);
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0.3em;
  background-color: rgba(192, 203, 2, 0.3);
  border: 2px solid #c0cb02;
  color: #335230;
  box-shadow: 0 0 25px 2px rgba(192, 203, 2, 0.4), 0 0 35px 4px rgba(192, 203, 2, 0.5), 0 0 45px 6px rgba(192, 203, 2);
  transform: scale(1.05) translateY(-5px);
  color: #fff4c2;
  cursor: pointer;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* Efeito de clique do botão de login e cadastro */
.form_container .sgn_button:active,
.lgn_button:active {
  text-shadow: none;
  background-color: rgba(51, 82, 48, 0.3);
  color: #fff4c2;
  box-shadow: #000000 0 3px 7px inset;
  transform: translateY(2px);
}

/* Estilo do texto "Não possui uma conta?" */
.login_signup {
  font-weight: bold;
  color: #fff4c2;
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

/* ------------------------------------------------------ Banner ------------------------------------------------------ */
/* Estilo da imagem */
.section.parallax {
  background-image: url('../img/asafetida-plantas-em-estado-selvagem-vista-lateral.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--navbar-height)); /* Altura total da viewport - altura da barra de navegação */
  margin-top: var(--navbar-height); /* Espaçamento no topo igual à altura da barra de navegação */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

/* Estilo do título */
.section h2 {
  padding: 0.2%;
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 5vw; /* Tornar o tamanho do texto responsivo */
  color: #212529;
  background-color: rgba(192, 203, 2, 0.7);
  width: max-content;
  z-index: -1;
}

/* Estilo do parágrafo */
.section p {
  padding: 0.2%;
  margin:0.5%;
  font-family: 'roboto';
  font-size: 1.9vw;
  color: #212529;
  background-color: rgba(192, 203, 2, 0.7);
  width: max-content;
  z-index: -1;
}

/* Estilo do nome do autor */
.section i {
  padding: 0.2%;
  color: #fff4c2;
  font-family: 'roboto';
  font-size: 20px;
  color: #212529;
  background-color: rgba(192, 203, 2, 0.7);
  width: max-content;
  z-index: -1;
}

/* Colunas de informações de dados e porcentagens */
.section1 {
  background-color: #fff4c2;
  font-family: 'roboto';
  font-size: 25px;
  color: #335230;
  padding: 40px;
}

h2 {
  font-family: 'Fraunces', serif;
  font-size: 90px;
}

/* Cards */
.card-group {
  margin: 2% 8% 8% 7%;
}

/* Estilo da imagem */
.card.parallax {
  background-image: url('../img/img-plantando.jpg');
  width: 70vw;
  height: 35vw;
  background-attachment: fixed;
  background-position: center 65px;
  background-repeat: no-repeat;
  background-size: 40%;
}

/* Ajuste para telas menores usando media queries */
@media (max-width: 768px) {
  .card.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150vw;
  height: 60vw;
  }
}

/* Aplicar estilos quando a largura da tela está entre 600 e 800 pixels */
@media (min-width: 600px) and (max-width: 800px) {
  .card.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150vw;
  height: 60vw;
  }
}

/* Aplicar estilos quando a altura da tela está entre 400 e 600 pixels */
@media (min-height: 400px) and (max-height: 600px) {
  .card.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150vw;
  height: 60vw;
  }
}

/* Aplicar estilos em dispositivos com resolução de pelo menos 300dpi */
@media (min-resolution: 300dpi) {
  .card.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150vw;
  height: 60vw;
  }
}

/* Estilo */
.card {
  text-align: left;
  border: none;
  background-color: #755026;
  color: #fff4c2;
  font-size: 20px;
}

/* Título */
.card-title {
  display:inline-block;
  width: 200%;
  margin-left: -0.1vw;
  padding: 40px 25px 40px 25px;
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 200%;
  background-color: rgba(192, 203, 2, 0.7);
  width: max-content;
  z-index: -1;
  border-radius: 0.1em;
}

/* Ajusta a posição do botão "Seja um voluntário" */
.btn_link_sobre,
.btn_link_proj {
  display: flex;
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
  top: 20px;
  padding: 20px;
}

/* Estilo do botão */
#btn-sobre,
#btn-proj {
  background-color: #ff531e;
  text-decoration: none;
  font-size: 90%;
  list-style: none; /* Remover o marcador de lista padrão */
  margin: 0 20px 0 10px;
  color: #fff4c2;
  border-radius: 20px;
  padding: 6px 15px;
  font-weight: bold;
  text-align: center;
  transition: color 0.5s, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(255, 67, 33, 0);
}

/* Hover do botão */
#btn-sobre:hover,
#btn-proj:hover {
  background-color: #fff4c2;
  color: #ff531e;
  box-shadow: 0 0 10px rgba(255, 244, 194, 0.6), 0 0 20px rgba(255, 244, 194, 0.6), 0 0 30px rgba(255, 244, 194, 0.6),
    0 0 40px rgba(255, 244, 194, 0.6), 0 0 100px rgba(255, 244, 194, 0.6);
  transform: scale(1.05) translateY(2px);
}

/* Efeito de clique do botão */
#btn-sobre:active,
#btn-proje:active {
  background-color: #fff4c2;
  color: #ff531e;
  box-shadow: #000000 0 3px 7px inset;
  transform: translateY(2px);
}

/* --------------------------------------------- Estilo do Rodapé (Footer) -------------------------------------------- */
/* Propriedades */
footer {
  background-color: rgba(192, 203, 2, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px);
  padding: 25px;
  border-radius: 0.3em;
  border-top: 3px solid #c0cb02;
  box-shadow: rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  font-size: 1.4vw;
  font-weight: bold;
  color: #335230;
  text-align: center;
  width: 100%;
  z-index: 2;
}

/* Estilo do parágrafo */
footer p {
  margin: 0;
}

/* Estilo do Link */
footer a {
  color: #335230;
  text-decoration: none;
  transition: text-shadow 0.2s ease-in-out, text-decoration 0.2s ease-in-out;
}
/* Estilo do Link */
footer a:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px rgba(255, 83, 30, 1), 0 0 20px rgba(255, 83, 30, 1), 0 0 100px rgba(255, 83, 30, 1);
}