/*Link fontes*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@600&display=swap');

/* Estilos gerais */
* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto';
}

/* Container do cabeçalho de navegação */
.navbar {
  padding: 1% 3% 0 3%;
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #335230;
}

/* Estilizando a logotipo do menu */
.navbar-brand img {
  width: 200px;
  height: auto;
  margin-bottom: 15%;
  transition: filter 0.1s ease, transform 0.2s ease;
}

/* Efeito do hover na imagem */
.navbar-brand img:hover {
  filter: drop-shadow(0 0 10px rgba(255, 244, 194, 0.6));
  transform: scale(1.1) translateY(-0.1px);
}

/* Estilo do Header */
.header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

/* Estilizando cada item do menu no menu hambúrguer */
.navbar-nav li {
  display: block; /* Para que cada item fique em uma linha separada */
  margin-bottom: 10px; /* Espaçamento entre os itens */
}

/* Estilizando os links dos itens do menu */
.navbar-nav li a {
  font-size: 90%;
  list-style: none; /* Remover o marcador de lista padrão */
  margin: 0 20px 0 10px;
  color: #fff4c2;
  border-radius: 20px;
  padding: 6px 15px;
  font-weight: bold;
  text-align: center;
  transition: color 0.5s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 5px rgba(255, 67, 33, 0);
}

/* Estilizando o hover nos links dos itens do menu */
.navbar-nav li a:not(.active):hover {
  background-color: #fff4c2;
  color: #335230;
  box-shadow: 0 0 10px rgba(255, 244, 194, 0.6), 0 0 20px rgba(255, 244, 194, 0.6), 0 0 30px rgba(255, 244, 194, 0.6),
    0 0 40px rgba(255, 244, 194, 0.6), 0 0 100px rgba(255, 244, 194, 0.6);
  transform: scale(1.05) translateY(-5px);
}

/* Cor da guia ativa */
.navbar .navbar-nav li a.active {
  background-color: #fff4c2;
  color: #335230;
  box-shadow: 0 0 10px rgba(255, 244, 194, 0.6), 0 0 20px rgba(255, 244, 194, 0.6), 0 0 100px rgba(255, 244, 194, 0.6);
}

/* Ícones dos nav-links */
.nav-item .fa-solid {
  margin-right: 5px;
  font-size: 100%;
}

/* --------------------------------------------------- Menu Hambúrguer ------------------------------------------------ */

/* Ícone do menu hambúrguer */
.navbar-toggler .fa-bars {
  font-size: 4vw;
  border-color: #fff4c2;
  color: #fff4c2;
}

/* Borda do menu hambúrguer */
.navbar-toggler {
  border-color: #fff4c2;
  border-width: 0.5vw;
}

/* Define a altura da barra de navegação */
:root {
  --navbar-height: 80px; /* Defina a altura da barra de navegação aqui */
}

/* ------------------------------------------------------ Home -------------------------------------------------------- */
/* Tamanho e cor da área do conteúdo da página */
.home {
  position: relative;
  width: 100%;
  background-color: #fff4c2;
}

/* Esconder Menu de Login/Cadastro */
.home::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}

/* Mostrar Menu de Login/Cadastro */
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}

/* ---------------------------------------Formulário de login e cadastro----------------------------------------------- */
/* From */
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}

/* Abre o formulário de login */
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

/* Oculta o formulário de inscrição por padrão */
.signup_form {
  display: none;
}

/* Exibe o formulário de inscrição quando o elemento form_container tem a classe active */
.form_container.active .signup_form {
  display: block;
}

/* Oculta o formulário de login quando o elemento form_container tem a classe active */
.form_container.active .login_form {
  display: none;
}

/* Estilo do ícone "Fechar" */
.form_close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ff531e;
  font-size: 20px;
  opacity: 0.7;
  cursor: pointer;
}

/* Título do formulário */
.form_container h2 {
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 150%;
  color: #ff531e;
  text-align: center;
}

/* -------------------------------------------------- Caixa de Texto -------------------------------------------------- */
/* Tamanho do container da caixa de texto */
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
}

/* Tamanho da caixa de texto */
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 30px;
  color: #333;
  transition: all 0.2s ease;
  border-bottom: 1.5px solid #aaaaaa;
}

/* Estilo da caixa de texto ativa */
.input_box input:focus {
  border-color: #ff531e;
  color: #ff531e;
}
.input_box input[type='email']:focus::-webkit-input-placeholder,
.input_box input[type='password']:focus::-webkit-input-placeholder {
  color: #ff531e;
}
.input_box input[type='email']:focus::-moz-placeholder,
.input_box input[type='password']:focus::-moz-placeholder {
  color: #ff531e;
}
.input_box input[type='email']:focus:-ms-input-placeholder,
.input_box input[type='password']:focus:-ms-input-placeholder {
  color: #ff531e;
}
.input_box input[type='email']:focus::placeholder,
.input_box input[type='password']:focus::placeholder {
  color: #ff531e;
}

/* Posiciona os ícones dentro da caixa de texto e define suas propriedades de estilo */
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}

/* Define a posição e o tamanho dos ícones de e-mail e senha */
.input_box i.email,
.input_box i.password {
  left: 0;
  font-size: 15px;
}

/* Define a posição e o tamanho do ícone de ocultar e mostrar a senha */
.input_box i.pw_hide {
  right: 0;
  font-size: 15px;
  cursor: pointer;
}

/* Cor dos ícones da caixa de texto ativa */
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password,
.input_box input:focus ~ i.pw_hide {
  color: #ff531e;
}

/* Remove o botão para visualizar e ocultar a senha */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Define a posição e o tamanho do campo de opções */
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Define a cor e tamanho do texto no campo de opções */
.form_container a {
  color: #ff531e;
  font-size: 12px;
  text-decoration: none;
}

/* Define o estilo do hover no campo de opções */
.form_container a:hover {
  text-decoration: underline;
}

/* Define o estilo da caixa de seleção */
.checkbox {
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}

/* ------------------------------------------------- Caixa de Seleção ------------------------------------------------- */
/* Define a cor da caixa de seleção ativa */
.checkbox input {
  accent-color: #ff531e;
}

/* Define o tamanho e a a cor do texto na caixa de seleção */
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}

/* Define a cor do hover no texto da caixa de seleção */
.checkbox label:hover {
  color: #ff531e;
}

/* Define a cor do texto na caixa de seleção ativa */
input[type='checkbox']:checked + label {
  color: #ff531e;
}

/* -------------------------------------------- Botão de Login e Cadastro --------------------------------------------- */
/* Cor e tamanho do botão de login e cadastro */
.form_container .sgn_button,
.lgn_button {
  background: #ff531e;
  margin-top: 30px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  color: #fff4c2;
}

/* Efeito de clique do botão de login e cadastro */
.form_container .sgn_button:active,
.lgn_button:active {
  background-color: #ff531e;
  color: #fff4c2;
  box-shadow: #000000 0 3px 7px inset;
  transform: translateY(2px);
}

/* Estilo do texto "Não possui uma conta?" */
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}

/* ------------------------------------------------ Conteúdo da página ------------------------------------------------ */
/* Estilo do Conteúdo da página */
main {
  position: relative;
  z-index: 0;
}

/* ------------------------------------------------------ Banner ------------------------------------------------------ */
/* Estilo da imagem */
.section.parallax {
  background-image: url('https://images.pexels.com/photos/6510867/pexels-photo-6510867.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--navbar-height)); /* Altura total da viewport - altura da barra de navegação */
  margin-top: var(--navbar-height); /* Espaçamento no topo igual à altura da barra de navegação */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilo do título */
.section h2 {
  padding: 0.4%;
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 5vw; /* Tornar o tamanho do texto responsivo */
  color: #212529;
  background-color: rgba(192, 203, 2, 0.7);
  width: max-content;
  z-index: -1;
}

/* Estilo do parágrafo */
.section p {
  padding: 0.2%;
  margin:0.5%;
  font-family: 'roboto';
  font-size: 1.9vw;
  color: #212529;
  background-color: rgba(192, 203, 2, 0.7);
  width: max-content;
  z-index: -1;
}

/* ------------------------------------------------- Ações e projetos ------------------------------------------------- */
/* Estilo para a sessão dos cartões */
.custom-section {
  color: #212529;
  background-color: #fff4c2;
}

/* Título */
.custom-section h2 {
  font-family: 'Fraunces', serif;
  font-weight: 600;
  font-size: 5vw;
  color: #C0CB02;
}

/* Parágrafo */
.row p {
  padding: 0 15% 10% 5%;
  font-size: 1.5vw;
  text-align: left;
}

/* Transparência dos cartões */
.card {
  background-color: rgba(192, 203, 2, 0.3);
  border-radius: 20px;
  border: 2px solid;
  border-color: #C0CB02;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px);
}

/* Título */
.card-header {
  color: #212529;
  font-size: 2vw; 
  font-weight: bold;
  margin: 15px;
  text-align: center;
  border: 2px solid;
  border-color: #C0CB02;
  box-shadow: rgba(192, 203, 2, 0.5) 0 -25px 18px -14px inset,
  rgba(192, 203, 2, 0.25) 0 1px 2px,
  rgba(192, 203, 2, 0.25) 0 2px 4px,
  rgba(192, 203, 2, 0.25) 0 4px 8px,
  rgba(192, 203, 2, 0.25) 0 8px 16px,
  rgba(192, 203, 2, 0.25) 0 16px 32px;
}

/* Parágrafo */
.card-text {
  color: #212529;
  font-weight: bold;
}

/* Estilo para o container de imagem */
.img-container {
  display: flex;
  justify-content: center;
  padding: 15px;
}

/* Estilo para a imagem dos cartões */
.card-img-top {
  border-radius: 20px;
  border: 2px solid;
  border-color: #C0CB02;
  box-shadow: rgba(192, 203, 2, 0.5) 0 -25px 18px -14px inset,
  rgba(192, 203, 2, 0.25) 0 1px 2px,
  rgba(192, 203, 2, 0.25) 0 2px 4px,
  rgba(192, 203, 2, 0.25) 0 4px 8px,
  rgba(192, 203, 2, 0.25) 0 8px 16px,
  rgba(192, 203, 2, 0.25) 0 16px 32px;
}

.col-md-4 {
  padding-bottom: 2%;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-height {
  height: 100%
}


/* --------------------------------------------- Estilo do Rodapé (Footer) -------------------------------------------- */
/* Propriedades */
footer {
  padding: 20px 0;
  font-size: 1.4vw;
  font-weight: bold;
  color: #fff4c2;
  text-align: center;
  background: #335230;
  width: 100%;
  z-index: 1; /* Coloca o rodapé na frente de outros elementos */
}

/* Estilo do parágrafo */
footer p {
  margin: 0;
}

/* Estilo do Link */
footer a {
  color: #fff4c2;
  text-decoration: none;
}
/* Estilo do Link */
footer a:hover {
  color: #C0CB02;
  text-decoration: underline;
}